* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 20px 35px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./images/Blurry_background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color: burlywood;
}