:root {
    --primary-color: #bfd8c4;
    --secondary-color: #d1aca5;
    --teritary-color: #a5b2b5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
}

/* header style start */
header {
    padding: 20px 35px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/Blurry_background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color:var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* header style end */

.flex-row {
    display: flex;
}

/*section style start */

section {
    padding: 60px;
}

.section-title {
    font-size: 4vw;
    color: var(--primary-color);
    border-right: 5px solid;
    text-align: center;
    margin: auto 0 auto 35px;
    width: 50%;
    padding-right: 50px;
  }
  
  .primary-border {
    border-color: var(--teritary-color);
  }
  
  .secondary-border {
    border-color: var(--teritary-color);
  }


/* section style end */

/* hero style start */
.hero {
    background-color: #fff;
    background-image: url("../images/IMG_6050.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    font-size: 7vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
    text-align: center;
}

.hero p {
    font-size: 5vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
    text-align: center;

}

.hero mark {
    color: var(--primary-color);
    background-color: rgba(165, 178, 181, 0.8);

}

/* hero style end */

/* bulk style start */

.bulk p {
    color: var(--primary-color);
    font-size: 2vw;
    padding-left: 50px; 
}

.bulk ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.bulk ul li {
    padding: 10px 15px;
    font-size: 2vw;
    text-decoration: underline;
}

.bulk mark {
    color: var(--primary-color);
    background-color: rgba(165, 178, 181);
}

.my-work img {
    height: auto;
    max-width: 100%;
}

.my-work img:hover {
    background: rgba(165, 178, 181, .5);
    color: var(--primary-color);
}

/* bulk style end */

/* media query for smaller desktop and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px
    }

    .section-title {
        width: 80%;
    }
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* media quert for mobile and smaller */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
}